<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Phaola_02.Properties.Settings.analisesConnectionString" connectionString="server=localhost;user id=root;password=polinha18;persistsecurityinfo=True;database=analises" providerName="MySql.Data.MySqlClient" />
    <add name="Phaola_02.Properties.Settings.analisesConnectionString1" connectionString="server=localhost;user id=root;password=polinha18;persistsecurityinfo=True;database=analises;allowuservariables=True" providerName="MySql.Data.MySqlClient" />
    <add name="Phaola_02.Properties.Settings.analisesConnectionString2" connectionString="user id=root;server=localhost;password=polinha18;database=analises" providerName="MySql.Data.MySqlClient" />
    <add name="Phaola_02.Properties.Settings.bdanalisesConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bdanalises.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>